/* Color Theme Swatches in Hex */
.Animation-SA-Profilles-1-hex { color: #035AA6; }
.Animation-SA-Profilles-2-hex { color: #94F2E9; }
.Animation-SA-Profilles-3-hex { color: #F2F0D5; }
.Animation-SA-Profilles-4-hex { color: #F2BC1B; }
.Animation-SA-Profilles-5-hex { color: #D9BC66; }

/* Color Theme Swatches in RGBA */
.Animation-SA-Profilles-1-rgba { color: rgba(3, 90, 166, 1); }
.Animation-SA-Profilles-2-rgba { color: rgba(148, 242, 233, 1); }
.Animation-SA-Profilles-3-rgba { color: rgba(242, 240, 213, 1); }
.Animation-SA-Profilles-4-rgba { color: rgba(242, 188, 27, 1); }
.Animation-SA-Profilles-5-rgba { color: rgba(217, 188, 102, 1); }



html{
    padding: 0;
    margin: 0;
}

body {
    /* background-color:#F2F0D5; */
    margin: 0 auto;
    padding: 0 auto;
    top: 0;
    color: #000;
}

#container{
    margin: 0 auto;   

}

#container{
    text-align: center;
}

nav{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 50px;
    margin-top: 0px;
}
ul {
    background: #F2BC1B;
      list-style: none;
      margin: 0;
      padding-left: 0;
      text-align: left;
  }
  

li{
   
    display: block;
    font-size: 1em;
    color: #000;
    list-style: none;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;  
}

.dropdown li{
     background: #fff; 
     color: #000;
}


li a{
    color: #fff;
    font-weight: 600;
    font-size: 1.5em;
    text-decoration: none;
}


li:hover,
li:focus-within{
    background:#035AA6;
    cursor: pointer;

}

li:focus-within a {
    outline: none;
  }

ul li ul{
    background: #F2BC1B;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top:1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block;
}

 ul li ul li {
    clear: both;
    width: 100%;
}

nav ul .Active {
    background: #035AA6;
    color: #fff;
}

.dropdown li{
    background: #F2BC1B;
}
.dropdown li:hover{
    background: #035AA6;
}
  

.header-bg{
    margin: 0;
    background-image: url(../img/bg.png);
    background-repeat: repeat;
    width: 100%;
    height: 500px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px auto 50px;
    text-align: center;
}

.sblogo img{
    grid-column: 1/2;
    width: 12.5em;
    height: 13em;
    padding-top: 50px;
    /* padding-left: 200px; */
    
}

.header .title h1{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    /* margin-top: 500px; */
    /* margin-left: 100px; */
    /* margin-right: 10px; */
    margin: 0 auto;
    margin-top: 50px;
    width: 380px;
    background: #035AA6;
    color: #fff;
    font-family: 'Quicksand', sans-serif;    
}

.header .title h2{
    background: #94F2E9;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    /* margin-left: 130px; */
    /* margin-right: 10px; */
    font-family: 'Quicksand', sans-serif;
   
}
.header .title h3{
    background: #94F2E9;
    width: 250px;
    margin: 0 auto;
    margin-top: 5px;
    
}

.asalogo img{
    grid-column: 3/4;
    padding-top: 50px;
    /* padding-left: 200px; */
    width: 12em;
    height: 12em;
}

.giff{
    grid-column: 1 / span 4;
    grid-row: 2/3;   
}

.giff img{
    width: 426px;
    height: 240px;
    /* margin-left: 60px; */
}


#profiles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* background-image: url(../img/2.jpg); */
    /* background-repeat: no-repeat; */
    /* background: #f2f0d5; */
    width: 900px;
    height: auto;
    margin:0 auto;
    margin-top: -140px;
    padding: 2%;  
}


.card{
    grid-column-start: 1;
}

.card-design .clip-circle img{
    width: 240x;
    height: 339px;
   
    /* margin-top: 35px; */
    /* border-top-left-radius: 36px; 
    border-top-right-radius: 36px;  */
}


.card-design {
  
    width: 270px;
    height: auto;
    
    background: 
      /* top, transparent red */ 
      linear-gradient(
        rgba(148, 242, 233, 0.2), 
        rgba(148, 242, 233, 0.9)
      ),
      /* bottom, image */
      url(../img/2.jpg);
  }

.card-design{
    margin: 10px;
    padding-top: 10px;
    border-radius: 30px;
}
.card-design div{
    text-align: center;

}


.info{
    top: 0em;
    background: rgba(3, 90, 166, 0.3 );
    color: #fff;
    padding: 5px;
    margin-bottom: 0px; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px; 
}

.info h4{
    font-size: 1.5em;
    margin: 5px;
}
.info p{
    font-size: 1.3em;
    margin: 5px;
}
.info b{
    color: #035AA6;
}

div [class^="icon-"], [class*="icon-"]{
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.camera{
    background: url(../img/camera.ico);
}

.clip-circle {
    position: relative;
    top: 28px;
    clip-path: circle(36% at 50% 40%);
    margin-top: 0px;
  }


